<div class="slideout-content">
  <!-- Modal to add new origin starts-->
  <div
    class="modalsd modal-slide-in sdfade new-origin-modal"
    id="modals-slide-in"
  >
    <div class="modal-dialog">
      <form
        class="add-new-origin modal-content pt-0"
        (ngSubmit)="submit()"
        [formGroup]="formOrigin"
      >
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="toggleSidebar('new-origin-sidebar')"
        >
          ×
        </button>
        <div class="modal-header mb-1">
          <h5 class="modal-title" id="exampleModalLabel">Nueva Procedencia</h5>
        </div>
        <div class="modal-body flex-grow-1">
          <div class="form-group">
            <label class="form-label" for="basic-icon-default-fullname"
              ><span style="color: red">*</span> Descripción</label
            >
            <input
              type="text"
              class="form-control dt-full-name"
              id="basic-icon-default-fullname"
              formControlName="description"
              required
              aria-label="John Doe"
              aria-describedby="basic-icon-default-fullname2"
              [class.error]="descriptionControlIsInvalid"
            />
            <span *ngIf="descriptionControlIsInvalid" class="invalid-form">
              <small class="form-text text-danger"
                >Este campo es requerido!</small
              >
            </span>
          </div>
          <button
            type="submit"
            class="btn btn-primary mr-1"
            [disabled]="formOrigin.invalid"
            rippleEffect
          >
            Submit
          </button>
          <button
            type="reset"
            class="btn btn-outline-secondary"
            (click)="toggleSidebar('new-origin-sidebar')"
            rippleEffect
          >
            Cancel
          </button>
        </div>
      </form>
    </div>
  </div>
  <!-- Modal to add new origin Ends-->
</div>
