<div class="slideout-content">
  <!-- Modal to add new user starts-->
  <div
    class="modalsd modal-slide-in sdfade new-user-modal"
    id="modals-slide-in"
  >
    <div class="modal-dialog">
      <form
        class="add-new-user modal-content pt-0"
        (ngSubmit)="submit()"
        [formGroup]="formDiagnostico"
      >
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="toggleSidebar('new-diagnostico-sidebar')"
        >
          ×
        </button>
        <div class="modal-header mb-1">
          <h5 class="modal-title" id="exampleModalLabel">Nuevo Diagnostico</h5>
        </div>
        <div class="modal-body flex-grow-1">
          <!--  -->
          <div class="form-group">
            <label class="form-label" for="basic-icon-default-uname"
              ><span style="color: red">*</span> Descripción</label
            >
            <input
              type="text"
              id="basic-icon-default-uname"
              class="form-control dt-uname"
              formControlName="description"
              required
              aria-label="jdoe1"
              aria-describedby="basic-icon-default-uname2"
            />
          </div>
          
          <div class="form-group">
            <ng-container *ngIf="iddiagnostic > 0">
              <app-modal-servdetspec [iddiagnostico]="iddiagnostic"></app-modal-servdetspec>
            </ng-container>
            
            
            <!--
            <label class="form-label" for="user-role"><span style="color: red">*</span> Especialidad</label>
            
            <ng-select
              *ngIf="specialtySelect$ | async as specialtys"
              formControlName="idspecialty"
              [items]="specialtys.data"
              bindLabel="description"
              bindValue="idSpecialty"
              [searchable]="true"
              required
            >
              <ng-template
                ng-option-tmp
                ng-label-tmp
                let-item="item"
              >
              {{
                item.description
              }}
            </ng-template>
            </ng-select>
          -->
            <!-- <select
              *ngIf="specialtySelect$ | async as specialtys"
              formControlName="idspecialty"
              class="form-control"
            >
              <option [value]="null">Seleccione</option>
              <option
                *ngFor="let specialty of specialtys.data"
                [value]="specialty.idSpecialty"
              >
                {{ specialty.description }}
              </option>
            </select> -->
          </div>
          <button ttype="submit" class="btn btn-primary mr-1" [disabled]="formDiagnostico.invalid" rippleEffect>
            Guardar
          </button>
          <button
            type="reset"
            class="btn btn-outline-secondary"
            (click)="toggleSidebar('new-diagnostico-sidebar')"
            rippleEffect
          >
            Cancelar
          </button>
        </div>
        
      </form>
    </div>
  </div>
  <!-- Modal to add new user Ends-->



</div>
